/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #636363;
$presentation-h2-font-size:	1.4em;


/*-- scss:rules --*/
.big {
  font-size: 1.5em;
}

.blue {
  color: #26b0de;
}

.orange {
  color: #d15411;
}